@mixin flexCenter($direction)
{
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

.employee-wrapper
{
    @include flexCenter(column);

    img
    {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    h3
    {
        font-size: 22px;
        margin-bottom: 15px;
        color: rgb(126, 125, 128);
    }

    p
    {
        font-size: 18px;
        color: rgb(0, 50, 92);
    }
}