@mixin flexCenter($direction)
{
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 27);
}

@mixin gridCenter()
{
    display: grid;
    justify-content: center;
    justify-items: start;
    margin-top: 10vh;
    grid-template-columns: 1fr 1fr 1fr;
    // background-color: rgb(15, 76, 129);
    background-color: rgb(27, 27, 27);
}

.footer-container
{
    margin: 0 0 0 0;
    background-color: rgb(27, 27, 27);
    padding: 0 6vw 0 6vw;
}

.footer
{
    @include gridCenter();
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.column
{
    margin-left: 10vw;

    p
    {
        font-size: 16px;
        margin: 10px 10px 10px 10px;
    }

    h3
    {
        font-size: 20px;
        margin: 10px 10px 20px 10px;
    }
}

.copyright
{
    @include flexCenter(row);

    padding: 20px 0 20px 0;
    border-top: 1px solid rgba(126, 125, 128, 0.2);
    color: white;
    font-size: 12px;
}