@mixin flexCenter($direction)
{
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 50, 92);
}

@mixin gridCenter()
{
    display: grid;
    justify-content: center;
    justify-items: start;
    margin-top: 10vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(0, 50, 92);
}

.footer-container
{
    margin: 0 0 0 0;
    background-color: rgb(0, 50, 92);
    padding: 0 6vw 0 6vw;
}

.footer
{
    @include gridCenter();
    color: white;
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.column
{
    margin-left: 5vw;

    p
    {
        font-size: 16px;
        margin: 10px 10px 10px 10px;
    }

    h3
    {
        font-size: 20px;
        // font-weight: normal;
        margin: 10px 10px 20px 10px;
    }
}

.mobile-footer
{
    display: none;
}

.copyright
{
    @include flexCenter(row);

    padding: 20px 0 20px 0;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    color: white;
    font-size: 12px;
}
.fa {
    padding: 12px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 1px 10px;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-twitter {
    background: #55ACEE;
    color: white;
  }


@media screen and (max-width: 768px)
{
    .footer
    {
        padding-top: 0;
        padding-bottom: 0;
    }

    .column
    {
        display: none;
    }

    .mobile-footer
    {
        display: flex;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
