// Will want to change this to grid for media queries
@mixin flexCenter($direction)
{
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin grid()
{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.four-div-container
{
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    margin-bottom: 0vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: rgb(240, 240, 240);

    h3
    {
        margin-top: 5vh;
        color: rgb(126, 125, 128);
        font-size: 32px;
        text-align: center;
    }
}

.spread
{
    @include flexCenter(row);

    justify-content: space-evenly;
    margin-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 5vh;
}

.floating-div
{
    width: 20vw;
    margin: 30px 25px 10px 25px;
    padding: 40px 40px 40px 40px;
    background-color: white;
    border: 1px solid rgba(230, 230, 230, 0.4);
    // border-radius: 15px;
    box-shadow: 0px 10px 10px #888888;
    text-align: center;
    color: rgb(15, 76, 129);
    font-size: 22px;
    transition: 0.4s;

    &:hover
    {
        border: 1px solid rgb(15, 76, 129);
        background: rgb(15, 76, 129);
        color: white;
    }
}

// For Tablets
@media screen and (max-width: 768px)
{
    .spread
    {
        @include grid();
    }

    .floating-div
    {
        width: 33vw;
    }
}

// For Mobile
@media screen and (max-width: 600px)
{
    .spread
    {
        @include flexCenter(column);

        justify-content: space-evenly;
    }

    .floating-div
    {
        width: 60vw;
    }
}