@mixin flexCenter($direction)
{
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin textStyle()
{
    p
    {
        font-size: 16px;
        line-height: 1.7em;
        color: rgb(0, 50, 92);
    }

    h3
    {
        font-size: 32px;
        // font-weight: normal;
        text-align: center;
        // color: rgb(0, 50, 92);
        color: rgb(126, 125, 128);
        margin-bottom: 3vh;
    }
}

.what-we-do-left
{
    @include flexCenter(row);

    margin: 5vh 10vw 5vh 10vw;
}

.what-we-do-right
{
    @include flexCenter(row);

    margin: 5vh 10vw 5vh 10vw;
}

.image
{
    flex: 1;

    img
    {
        width: 100%;
        height: auto;
        box-shadow: 0px 10px 10px #888888;
    }
}

.text-right
{
    flex: 1;
    padding: 0 0 0 5vw;

    @include textStyle();
}

.text-left
{
    flex: 1;
    padding: 0 5vw 0 0;

    @include textStyle();
}

@media screen and (max-width: 768px)
{
    .what-we-do-left
    {
        flex-direction: column-reverse;
    }
    
    .what-we-do-right
    {
        flex-direction: column;
    }

    .image
    {
        margin-bottom: 8vw;
    }

    .text-right
    {
        padding: 0 3vw 0 3vw;
    }

    .text-left
    {
        padding: 0 3vw 0 3vw;
    }
}