@mixin flexCenter($direction)
{
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

.login-wrapper
{
    @include flexCenter(column);
}

.login-container
{
    @include flexCenter(column);

    
    // margin: 30vh 30vw 5vh 30vw;
    margin: 25vh 0vw 15vh 0vw;
    padding: 35px 25px 35px 25px;
    border: 1px solid rgba(230, 230, 230, 0.4);
    box-shadow: 0px 10px 10px #888888;
    background-color: white;
    width: 40%;
    
    h3
    {
        font-size: 28px;
        margin-bottom: 20px;
    }
}

.login
{
    display: flex;
    flex-direction: column;

    button 
    {
        margin-top: 10px;
        margin-bottom: 40px;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: rgb(40, 101, 154);;
        color: white;
    }
    
    button:hover 
    {
        background-color: rgb(15, 76, 129);;
    }

    p
    {
        margin-top: 8px;
    }
}

.field-name
{
    margin-top: 12px;
    margin-bottom: 8px;
}

.field
{
    margin-top: 5px;
    margin-bottom: 5px;

    input[type=text]
    {
        width: 100%;
        margin: 0 0 0 0;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 4px;
        padding: 5px 10px;
    }

    #email
    {
        margin: 0 0 0 0;
        padding: 14px 10px;
        width: 100%;
    }

    input[type=password]
    {
        width: 100%;
        margin: 0 0 0 0;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 4px;
        padding: 12px 20px;
    }

    #password
    {
        margin: 0 0 0 0;
        padding: 7px 10px;
        width: 100%;
    }
}

.route-link
{
    Link
    {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1300px) 
{
    .login-container
    {
        width: 60%;
    }

    .login
    {
        button
        {
            display: block;
            margin-top: 20px;
        }
    }
}
@media only screen and (max-width: 600px) 
{
    .login-container
    {
        width: 80%;
    }
}