@mixin flexCenter($direction)
{
    display: flex;
    flex-direction: $direction;
    // justify-content: center;
    // align-items: center;
}

.showcase 
{
    @include flexCenter(column);

    position: relative;
    justify-content: flex-start;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    height: 80vh;
    width: 100%;
    margin-top: 80px;

    h3
    {
        font-size: 55px;
        font-family: "PT Sans", sans-serif;
        text-shadow: 1.5px 1.5px #000000;

        // color: white;
        // color: rgb(15, 76, 129);
    }

    
}

.showcase-text
{
    margin-top: 20vh;
    margin-left: 7vw;

    h3
    {
        font-size: 55px;
        font-weight: normal;
        color: white;
        // color: rgb(15, 76, 129);
    }
}

// .showcase-overlay
// {
//     @include flexCenter(column);

//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);

//     h3
//     {
//         font-size: 55px;
//         color: white;
//     }
// }