@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Segoe+UI:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Oxygen:regular,bold,italic&subset=latin,latin-ext');

@mixin flexCenter($direction)
{
    display: flex;
    flex-direction: $direction;
    // justify-content: center;
    // align-items: center;
}

.showcase 
{
    @include flexCenter(column);

    position: relative;
    justify-content: flex-start;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    height: 80vh;
    width: 100%;
    margin-top: 80px;

    h3
    {
        font-size: 55px;
        font-family: "Segoe UI", sans-serif;
        // font-family: "Roboto", sans-serif;
        // font-family: "Oxygen", sans-serif;
        text-shadow: 2px 2px #000000;

        // color: white;
        // color: rgb(15, 76, 129);
    }

    
}

.showcase-text
{
    // margin-top: 20vh;
    // margin-left: 7vw;
    margin-top: 100px;
    margin-left: 100px;

    h3
    {
        font-size: 6em;
        font-weight: normal;
        color: white;
        // color: rgb(15, 76, 129);
    }
}

// Tablet
@media screen and (max-width: 768px) 
{
    .showcase-text
    {
        margin-left: 10vw;
        margin-top: 15vw;
    }
    
    h3
    {
        font-size: 14vw;
    }
}