@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext');
@mixin flexCenter($direction)
{
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

.our-story
{
    @include flexCenter(column);
    padding-top: 8vh;
    padding-bottom: 8vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 8vh;
    border-bottom: 1px solid rgba(110, 110, 110, 0.2);

    p
    {
        font-size: 18px;
        color: rgb(0, 50, 92);
        line-height: 1.7em;
        padding-left: 0vw;
        padding-right: 0vw;
    }

    h3
    {
        font-size: 44px;
        color: rgb(126, 125, 128);
        margin-bottom: 3vh;
    }
}

.our-story-alt
{
    @include flexCenter(column);
    padding-top: 8vh;
    padding-bottom: 8vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 8vh;
    border-top: 1px solid rgba(110, 110, 110, 0.2);

    p
    {
        font-size: 18px;
        color: rgb(0, 50, 92);
        line-height: 1.7em;
        padding-left: 0vw;
        padding-right: 0vw;
    }

    h3
    {
        font-size: 44px;
        // font-weight: normal;
        // color: rgb(0, 50, 92);
        color: rgb(126, 125, 128);
        margin-bottom: 3vh;
    }
}