@mixin flexCenter($direction)
{
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

.trip-image-spread
{
    @include flexCenter(row);

    
}

.trip-image
{
    padding-left: 10px;
    padding-right: 10px;

    img
    {
        width: 25vw;
        height: 18.33vw;
    }
}