@import url("https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Segoe+UI:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Oxygen:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext");
body {
  margin: 0 0 0 0;
  background-color: #f0f0f0;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-behavior: smooth;
  margin: 0 0 0 0;
}

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  height: 80vh;
  width: 100%;
  margin-top: 80px;
}

.showcase h3 {
  font-size: 55px;
  font-family: "Segoe UI", sans-serif;
  text-shadow: 2px 2px #000000;
}

.showcase-text {
  margin-top: 8vw;
  margin-left: 7vw;
}

.showcase-text p {
  margin-top: 25px;
  font-size: 1.5vw;
  color: white;
  text-shadow: 2px 2px #000000;
}

.showcase-text h3 {
  font-size: 4.5em;
  font-weight: normal;
  color: white;
}

@media screen and (max-width: 768px) {
  .showcase-text p {
    font-size: 2.8vw;
  }
  .showcase-text h3 {
    font-size: 5.4vw;
  }
  h3 {
    font-size: 14vw;
  }
}

.our-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8vh;
  padding-bottom: 8vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 8vh;
  border-bottom: 1px solid rgba(110, 110, 110, 0.2);
}

.our-story p {
  font-size: 18px;
  color: #00325c;
  line-height: 1.7em;
  padding-left: 0vw;
  padding-right: 0vw;
}

.our-story h3 {
  font-size: 44px;
  color: #7e7d80;
  margin-bottom: 3vh;
}

.our-story-alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8vh;
  padding-bottom: 8vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 8vh;
  border-top: 1px solid rgba(110, 110, 110, 0.2);
}

.our-story-alt p {
  font-size: 18px;
  color: #00325c;
  line-height: 1.7em;
  padding-left: 0vw;
  padding-right: 0vw;
}

.our-story-alt h3 {
  font-size: 44px;
  color: #7e7d80;
  margin-bottom: 3vh;
}

.four-div-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8vh;
  margin-bottom: 0vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #f0f0f0;
}

.four-div-container h3 {
  margin-top: 5vh;
  color: #7e7d80;
  font-size: 32px;
  text-align: center;
}

.spread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-bottom: 5vh;
}

.floating-div {
  width: 20vw;
  margin: 30px 25px 10px 25px;
  padding: 40px 40px 40px 40px;
  background-color: white;
  border: 1px solid rgba(230, 230, 230, 0.4);
  -webkit-box-shadow: 0px 10px 10px #888888;
          box-shadow: 0px 10px 10px #888888;
  text-align: center;
  color: #0f4c81;
  font-size: 22px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.floating-div:hover {
  border: 1px solid #0f4c81;
  background: #0f4c81;
  color: white;
}

@media screen and (max-width: 768px) {
  .spread {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .floating-div {
    width: 33vw;
  }
}

@media screen and (max-width: 600px) {
  .spread {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .floating-div {
    width: 60vw;
  }
}

.what-we-do-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 10vw 5vh 10vw;
}

.what-we-do-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 10vw 5vh 10vw;
}

.image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.image img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 10px 10px #888888;
          box-shadow: 0px 10px 10px #888888;
}

.text-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0 0 5vw;
}

.text-right p {
  font-size: 18px;
  line-height: 1.7em;
  color: #00325c;
}

.text-right h3 {
  font-size: 32px;
  text-align: center;
  color: #7e7d80;
  margin-bottom: 3vh;
}

.text-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5vw 0 0;
}

.text-left p {
  font-size: 18px;
  line-height: 1.7em;
  color: #00325c;
}

.text-left h3 {
  font-size: 32px;
  text-align: center;
  color: #7e7d80;
  margin-bottom: 3vh;
}

@media screen and (max-width: 768px) {
  .what-we-do-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .what-we-do-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image {
    margin-bottom: 8vw;
  }
  .text-right {
    padding: 0 3vw 0 3vw;
  }
  .text-left {
    padding: 0 3vw 0 3vw;
  }
}

.footer-container {
  margin: 0 0 0 0;
  background-color: #00325c;
  padding: 0 6vw 0 6vw;
}

.footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: start;
  margin-top: 10vh;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #00325c;
  color: white;
  margin-top: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.column {
  margin-left: 5vw;
}

.column p {
  font-size: 16px;
  margin: 10px 10px 10px 10px;
}

.column h3 {
  font-size: 20px;
  margin: 10px 10px 20px 10px;
}

.mobile-footer {
  display: none;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00325c;
  padding: 20px 0 20px 0;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  color: white;
  font-size: 12px;
}

.fa {
  padding: 12px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 1px 10px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 0;
    padding-bottom: 0;
  }
  .column {
    display: none;
  }
  .mobile-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25vh 0vw 15vh 0vw;
  padding: 35px 25px 35px 25px;
  border: 1px solid rgba(230, 230, 230, 0.4);
  -webkit-box-shadow: 0px 10px 10px #888888;
          box-shadow: 0px 10px 10px #888888;
  background-color: white;
  width: 40%;
}

.login-container h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.login-container a {
  text-decoration: none;
  color: black;
  line-height: 1.5;
}

.login-container a:hover {
  color: #00325c;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login button {
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #28659a;
  color: white;
}

.login button:hover {
  background-color: #0f4c81;
}

.login p {
  margin-top: 8px;
}

.field-name {
  margin-top: 12px;
  margin-bottom: 8px;
}

.field {
  margin-top: 5px;
  margin-bottom: 5px;
}

.field input[type=text] {
  width: 100%;
  margin: 0 0 0 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 5px 10px;
}

.field #email {
  margin: 0 0 0 0;
  padding: 7px 10px;
  width: 100%;
}

.field input[type=password] {
  width: 100%;
  margin: 0 0 0 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 12px 20px;
}

.field #password {
  margin: 0 0 0 0;
  padding: 7px 10px;
  width: 100%;
}

.route-link Link {
  margin-top: 20px;
}

.signin-error {
  margin-top: 2vh;
}

.signin-error p {
  color: #bd0d00;
}

@media only screen and (max-width: 1300px) {
  .login-container {
    width: 60%;
  }
  .login button {
    display: block;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .login-container {
    width: 80%;
  }
}

.register-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20vh 0 12vh 0;
  padding: 35px 25px 35px 25px;
  border: 1px solid rgba(230, 230, 230, 0.4);
  -webkit-box-shadow: 0px 10px 10px #888888;
          box-shadow: 0px 10px 10px #888888;
  background-color: white;
  width: 40%;
}

.register-container h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.register-container a {
  text-decoration: none;
  color: black;
  line-height: 1.5;
}

.register-container a:hover {
  color: #00325c;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register button {
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #28659a;
  color: white;
}

.register button:hover {
  background-color: #0f4c81;
}

.field #firstName {
  margin: 0 0 0 0;
  padding: 7px 10px;
  width: 100%;
}

.field #lastName {
  margin: 0 0 0 0;
  padding: 7px 10px;
  width: 100%;
}

@media only screen and (max-width: 1300px) {
  .register-container {
    width: 60%;
  }
  .register button {
    display: block;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .register-container {
    width: 80%;
  }
}