body {
    background-color: rgb(240, 240, 240);
}

.cart {
    margin-top: 80px;
    padding: 2vw;
    margin-bottom: 40vh;
}

.cart h1 {
    margin-bottom: 5vh;
    color: #7e7d80;
}

.cart-item {
    display: flex;
    flex-grow: 1;
    margin-bottom: 2vh;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    padding: 1vw;
    color: #00325c;
}

.item-image img{
    width: 100%;
}

.item-image {
    width: 10vw;
}

.item-desc {
    padding: 1vw;
    flex-grow: 1;
    flex-basis: 0;
    margin-left: 2vw;
}

.total {
    margin-top: 1vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    background-color: rgb(250, 250, 250);
    padding: 1vw;
    color: #00325c;
    align-self: flex-start;
}

.total h2 {
    margin-bottom: 2vh;
}
.total h3 {
    text-align: center;
    margin-bottom: 2vh;
}

.cart-separator {
    display: flex;
}

.item-total {
    text-align: right;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#item-container {
    flex-grow: 10;
    padding: 1vw;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(40, 101, 154);
    color: white;
}

button:hover {
    background-color: rgb(15, 76, 129);;
}

.item-total button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #e84855;
    color: white;
    margin-bottom: auto;
}

.item-price {
    font-size: 120%;
}

#price-mobile {
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .cart h3{
        font-size: 100%;
    }

    .item-price {
        font-size: 100%;
    }
}

@media screen and (max-width: 600px) {
    .cart-separator {
        display: block;
    }

    .cart-item {
        display: flex;
    }

    .item-total {
        display: block;
        text-align: center;
    }

    #price-mobile {
        visibility: visible;
    }

    #price-desktop {
        visibility: hidden;
    }

    .item-image {
        flex-grow: 1;
        flex-basis: 0;
    }

    .item-desc {
        flex-basis: 0;
        flex-grow: 2;
    }

    #price-mobile {
        margin-top: 2vh;
    }

    .total h3 {
        font-size: 150%;
    }

    .total h2 {
        font-size: 200%;
    }
}
