
#content {
    padding: 5vw;
}

#supportForm {
    padding: 1vw;
}

#supportForm h3 {
    font-size: 3vw;
}

.formInput {
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    outline: none;
    padding: 0.5vw;
    width: 100%;
}

.message {
    height: 30vh;
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    outline: none;
    padding: 0.5vw;
}

#header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/contact_back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
}

#header h3 {
    color: #fff;
    font-size: 55px;
}

#contact {
    font-size: 1.5vw;
}

#contact p {
    margin-top: 1vh;
    margin-left: 1vw;
    display: inline-block;
}

.formDiv {
    padding: 1vh 1vw 1vh 1vw;
    margin-left: 25vw;
    margin-right: 25vw;
}

.formDiv h3 {
    text-align: center;
}

#buttonDiv {
    text-align: center;
}

#submitBtn {
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    padding: 0.5vh;
}