@import url("https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext");
body {
  margin: 0 0 0 0;
  background-color: #f0f0f0;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-behavior: smooth;
  margin: 0 0 0 0;
}

.our-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8vh;
  padding-bottom: 8vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 8vh;
  border-bottom: 1px solid rgba(110, 110, 110, 0.2);
}

.our-story p {
  font-size: 16px;
  color: #00325c;
  line-height: 1.7em;
  padding-left: 0vw;
  padding-right: 0vw;
}

.our-story h3 {
  font-size: 44px;
  color: #00325c;
  margin-bottom: 3vh;
}

.our-story-alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8vh;
  padding-bottom: 8vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 8vh;
  border-top: 1px solid rgba(110, 110, 110, 0.2);
}

.our-story-alt p {
  font-size: 16px;
  color: #00325c;
  line-height: 1.7em;
  padding-left: 0vw;
  padding-right: 0vw;
}

.our-story-alt h3 {
  font-size: 44px;
  color: #00325c;
  margin-bottom: 3vh;
}

.four-div-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8vh;
  margin-bottom: 0vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #f0f0f0;
}

.four-div-container h3 {
  margin-top: 5vh;
  color: #0f4c81;
  font-size: 32px;
  text-align: center;
}

.spread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-bottom: 5vh;
}

.floating-div {
  width: 20vw;
  margin: 30px 25px 10px 25px;
  padding: 40px 40px 40px 40px;
  background-color: white;
  border: 1px solid rgba(230, 230, 230, 0.4);
  -webkit-box-shadow: 0px 10px 10px #888888;
          box-shadow: 0px 10px 10px #888888;
  text-align: center;
  color: #0f4c81;
  font-size: 22px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.floating-div:hover {
  border: 1px solid #0f4c81;
  background: #0f4c81;
  color: white;
}

@media screen and (max-width: 768px) {
  .spread {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .floating-div {
    width: 33vw;
  }
}

@media screen and (max-width: 600px) {
  .spread {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .floating-div {
    width: 60vw;
  }
}

.what-we-do-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 10vw 5vh 10vw;
}

.what-we-do-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 10vw 5vh 10vw;
}

.image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.image img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 10px 10px #888888;
          box-shadow: 0px 10px 10px #888888;
}

.text-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0 0 5vw;
}

.text-right p {
  font-size: 16px;
  line-height: 1.7em;
  color: #00325c;
}

.text-right h3 {
  font-size: 32px;
  text-align: center;
  color: #00325c;
  margin-bottom: 3vh;
}

.text-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5vw 0 0;
}

.text-left p {
  font-size: 16px;
  line-height: 1.7em;
  color: #00325c;
}

.text-left h3 {
  font-size: 32px;
  text-align: center;
  color: #00325c;
  margin-bottom: 3vh;
}

@media screen and (max-width: 768px) {
  .what-we-do-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .what-we-do-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image {
    margin-bottom: 8vw;
  }
  .text-right {
    padding: 0 3vw 0 3vw;
  }
  .text-left {
    padding: 0 3vw 0 3vw;
  }
}

.footer-container {
  margin: 0 0 0 0;
  background-color: #00325c;
  padding: 0 6vw 0 6vw;
}

.footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: start;
  margin-top: 10vh;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #00325c;
  color: white;
  margin-top: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.column {
  margin-left: 5vw;
}

.column p {
  font-size: 16px;
  margin: 10px 10px 10px 10px;
}

.column h3 {
  font-size: 20px;
  margin: 10px 10px 20px 10px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00325c;
  padding: 20px 0 20px 0;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  color: white;
  font-size: 12px;
}

.fa {
  padding: 12px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 1px 10px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.title {
  margin-top: 0;
  color: #7E7D80;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
  letter-spacing: -.5px;
}

.productContainer {
  background-color: #f0f4f7;
}

.productContainer h1 {
  text-align: center;
  color: #7E7D80;
  font-weight: bold;
}

.productbox {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.productbox::after {
  content: " ";
  display: table;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.aboutProduct {
  padding-bottom: 32px;
  padding-top: 50px;
  padding-left: 20vw;
  background-image: url(../images/Product.png);
  background-position: 80% 70%;
  background-size: 240px;
  background-repeat: no-repeat;
}

.aboutProduct .standard {
  padding-bottom: 10px;
}

.aboutProduct li {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.aboutProduct h2 {
  margin-top: 0;
  color: #7E7D80;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
  letter-spacing: -.5px;
}

.product-top-banner {
  background-image: url("../images/productpage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  margin-top: 80px;
  margin-bottom: 50px;
  color: white;
  font-size: 6em;
  text-shadow: 2px 2px black;
  width: 100%;
}

.product-top-banner-slogan {
  color: #fff;
  font-size: 4.5vw;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-top: 7vh;
  padding-left: 7vw;
  position: absolute;
  z-index: 1;
  text-shadow: 2px 2px #000000;
}

.product-top-banner-sub-slogan {
  color: #fff;
  font-size: 2vw;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-top: 32vh;
  padding-left: 7vw;
  position: absolute;
  z-index: 1;
  text-shadow: 1.5px 1.5px #000000;
}
/*# sourceMappingURL=product.css.map */