.service-body {
    background-color: rgb(240, 240, 240);
}

#header-services {
    position: relative;
    display: flex;
    background-image: url("../images/services_back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    margin-top: 80px;
}

#header-services h3 {
    color: white;
    font-size: 6em;
    margin-left: 100px;
    margin-top: 100px;
    text-shadow: 2px 2px black;
}

#service-content {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 5vh;
    margin: 8vh 10vw 8vh 10vw;
}

#service-content img {
    width: 100%;
    height: auto;
    box-shadow: 0px 10px 10px #888888;
}

.service-right {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #00325c;
    padding-left: 2vw;
}

.service-left {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #00325c;
    padding-right: 2vw;
}

#service-content h3 {
    text-align: center;
    margin-bottom: 3vh;
    font-size: 32px;
}

.image-left {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-right: 3vw;
}

.image-right {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 3vw;
}