#header-services {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/services_back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
}

#header-services h3 {
    color: #fff;
    font-size: 55px;
}
#service-content{
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 5vh;
    margin: 5vh 10vw 5vh 10vw;
}

#service-content img {
    width: 100%;
    height: auto;
    box-shadow: 0px 10px 10px #888888;
}

.service-right {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #00325c;
    padding-left: 2vw;
}

.service-left {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #00325c;
    padding-right: 2vw;
}

#service-content h3 {
    text-align: center;
    margin-bottom: 3vh;
    font-size: 32px;
}

.image-left {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-right: 3vw;
}

.image-right {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 3vw;
}