#header-services {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/services_back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
}

#header-services h3 {
    color: #fff;
    font-size: 55px;
}
#service-content{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

#service-content img {
    width: 100%;
    height: auto;
    padding: 1vw;
    border: 1px solid;
}

.service-right {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.service-left {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.service-left h3 {
    margin-bottom: 2vh;
}

.four-services {
    margin-top: 2vh;
    display: flex;
}

.service-child {
    flex: 1 1 0;
    margin-left: 2vw;
    margin-right: 2vw;
    border: 1px solid;
    
}

.service-child img {
    width: 100%;
    height: auto;
}

.service-text {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vh;
    text-align: center;
}

.service-text h3 {
    margin-bottom: 1vh;
}