.haub-float-div {
  position: relative;
  background-color: blueviolet;
  border-radius: 25px;
  padding: 20px;
  width: 1050px;
  top: -60px;

  left: 50%;
  transform: translateX(-50%);
}

.haub-background {
  background-color: #333333;
  height: 100px;
}

.container {
  display: flex;
  /* background-color: #666666; */
  width: 100%;

  position: relative;
  top: 800px;
}

.item {
  height: 650px;
  width: 0px; /* A fixed width as the default */
}

.item-left {
  flex-grow: 1; /* Set the middle element to grow and stretch */
}

.item-center {
  background-color: #f7f7f7;
  width: 1400px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 100px;
}

.item-right {
  flex-grow: 1; /* Set the middle element to grow and stretch */
}

.break-free-header {
  font-size: 3em;
}

.break-free-body {
  line-height: 200%;
  padding-top: 3em;
  font-size: 2em;
  padding-top: 100px;
}

.secure-div {
  height: 249px;
  width: 212px;
  float: right;
}

@media only screen and (max-width: 1500px) {
  .container {
    top: 25vw;
  }

  .break-free-header {
    font-size: 5vw;
  }

  .item-center {
    background-color: #f7f7f7;
    width: auto;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10vw;
  }

  .secure-div {
    height: 23.5vw;
    width: 20vw;
    float: right;
    background-size: contain;
  }

  .break-free-body {
    line-height: 200%;
    padding-top: 3vw;
    font-size: 2vw;
  }

  .item {
    height: 60vw;
  }
}
