.home-top-banner {
  background-image: url("../images/img-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  /* margin-bottom: 1000px; */
  padding-top: 100px;
}

.home-top-banner-slogan {
  color: #fff;
  font-size: 4.5vw;
  justify-content: left;
  padding-top: 7vh;
  padding-left: 7vw;
  position: absolute;
  z-index: 1;
}

.home-top-banner-sub-slogan {
  color: #fff;
  font-size: 1.5vw;
  justify-content: left;
  padding-top: 32vh;
  padding-left: 7vw;
  position: absolute;
  z-index: 1;
}
