.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: absolute;
  width: 100%;
  z-index: 8;
}

.navbar-logo {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  /* padding-left: 20%;
  margin-top: 10%; */
  /* left: 10%; */
  position: relative;
  left: 10%;
  align-items: center;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 78vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1500px) {
  .NavbarItems {
    position: relative;
  }

  .nav-item {
    height: 6vh;
  }

  .navbar {
    font-size: 3vw;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 00%;
    height: 100vh;
    position: absolute;
    left: -80%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    width: 100%;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
    height: 10px;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

}

.selected-lang {
  cursor: pointer;
  display: flex;
  width: 100px;
  line-height: 2;
  justify-content: space-between;
  color: white;
}
.selected-lang:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.selected-lang::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("https://www.countryflags.io/us/flat/32.png");
}

.nav-item .lang-menu ul {
  margin: 0;
  padding: 0;
  background-color: #1888ff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  display: none;
}

.lang-menu ul li {
  display: flex;
  justify-content: space-between;
}

.lang-menu ul li:hover {
  background-color: #5cabff;
}

.lang-menu ul li a {
  display: block;
  padding: 5px 10px;
  color: white;
  padding-left: 0;
  margin-left: 0;
  padding-right: 5vw;
}

.lang-menu ul li a::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 5px;
  background-image: url("https://www.countryflags.io/cn/flat/32.png");
}

.lang-menu:hover ul {
  display: block;
}
